# Assignment 4: Practice Pandas

# PartA
Basic operations with Pandas.

### 1. Create an empty DataFrame

In [3]:
import pandas as pd

df = pd.DataFrame()

### 2. Create a complete empty DataFrame without any column name or indices and then appending columns one by one to it. {Result must be as in a given image. Remove a given image after use}

In [24]:
dfA2 = pd.DataFrame()

dfA2_row1 = {'Name':'Ankit', 'Articles':97, 'Improved':2200}
dfA2_row2 = {'Name':'Ankita', 'Articles':600, 'Improved':75}
dfA2_row3 = {'Name':'Yashvardhan', 'Articles':200, 'Improved':100}

dfA2_append_row = dfA2.append(dfA2_row1,ignore_index = True)
dfA2_append_row2 = dfA2_append_row.append(dfA2_row2,ignore_index = True)
dfA2_append_row3 = dfA2_append_row2.append(dfA2_row,ignore_index = True)

print(dfA2_append_row3)

   Articles  Improved    Name
0      97.0    2200.0   Ankit
1     600.0      75.0  Ankita

### 3. Copy this code and add a row to display this set as a DataFrame

Following the "sequence of rows with the same order of fields" principle, you can create a DataFrame from a list that contains such a sequence, or from multiple lists zip()-ed together in such a way that they provide a sequence like that:

In [13]:
import pandas as pd

listPepper = [ 
            [50, "Bell pepper", "Not even spicy"], 
            [5000, "Espelette pepper", "Uncomfortable"], 
            [500000, "Chocolate habanero", "Practically ate pepper spray"]
            ]
# add your code here
df_create = pd.DataFrame(listPepper)
new_row = {0:45000, 1:'Cold', 2:'Sheesh'}
df_create = df_create.append(new_row, ignore_index=True)
print(df_create)

        0                   1                             2
0      50         Bell pepper                Not even spicy
1    5000    Espelette pepper                 Uncomfortable
2  500000  Chocolate habanero  Practically ate pepper spray
3   45000                Cold                        Sheesh

### 4. Create an empty DataFrame with columns name only then appending rows one by one to it using append() method. The result must be as in a given image.
![python-empty-dataframe.png]()

In [14]:
new_df = pd.DataFrame()
data = {'Name': ['Ankit', 'Alishwary', 'yash'],
	'Articles': [97, 30, 17],
	'Improved': [2200, 50, 220]
    }
TABLE = pd.DataFrame(data)
print(TABLE)

        Name  Articles  Improved
0      Ankit        97      2200
1  Alishwary        30        50
2       yash        17       220

# Part B

{In this exercise, we will use pandas to examine house sale price data.

This dataset contains house sale prices for King County, which includes Seattle. It includes homes sold between May 2014 and May 2015.

[Download file](https://www.kaggle.com/harlfoxem/housesalesprediction/download) kc_house_data.csv and use it in your project 

A very common filetype is .csv (Comma-Separated-Values). The rows are provided as lines, with the values they are supposed to contain separated by a delimiter (most often a comma). You can set another delimiter via the sep argument.}

{ } - section inside braces must be deleted before submission.

### 5. Start by importing panda and Use Pandas' read_csv function to read a file as a DataFrame.

In [1]:
import pandas as pd 

my_dataframe = pd.read_csv("kc_house_data.csv")

print(my_dataframe)

               id             date     price  bedrooms  bathrooms  \
0      7129300520  20141013T000000  221900.0         3       1.00
1      6414100192  20141209T000000  538000.0         3       2.25
2      5631500400  20150225T000000  180000.0         2       1.00
3      2487200875  20141209T000000  604000.0         4       3.00
4      1954400510  20150218T000000  510000.0         3       2.00
...           ...              ...       ...       ...        ...
21608   263000018  20140521T000000  360000.0         3       2.50
21609  6600060120  20150223T000000  400000.0         4       2.50
21610  1523300141  20140623T000000  402101.0         2       0.75
21611   291310100  20150116T000000  400000.0         3       2.50
21612  1523300157  20141015T000000  325000.0         2       0.75

       sqft_living  sqft_lot  floors  waterfront  view  ...  grade  \
0             1180      5650     1.0           0     0  ...      7
1             2570      7242     2.0           0     0  ...      7
2              770     10000     1.0           0     0  ...      6
3             1960      5000     1.0           0     0  ...      7
4             1680      8080     1.0           0     0  ...      8
...            ...       ...     ...         ...   ...  ...    ...
21608         1530      1131     3.0           0     0  ...      8
21609         2310      5813     2.0           0     0  ...      8
21610         1020      1350     2.0           0     0  ...      7
21611         1600      2388     2.0           0     0  ...      8
21612         1020      1076     2.0           0     0  ...      7

       sqft_above  sqft_basement  yr_built  yr_renovated  zipcode      lat  \
0            1180              0      1955             0    98178  47.5112
1            2170            400      1951          1991    98125  47.7210
2             770              0      1933             0    98028  47.7379
3            1050            910      1965             0    98136  47.5208
4            1680              0      1987             0    98074  47.6168
...           ...            ...       ...           ...      ...      ...
21608        1530              0      2009             0    98103  47.6993
21609        2310              0      2014             0    98146  47.5107
21610        1020              0      2009             0    98144  47.5944
21611        1600              0      2004             0    98027  47.5345
21612        1020              0      2008             0    98144  47.5941

          long  sqft_living15  sqft_lot15
0     -122.257           1340        5650
1     -122.319           1690        7639
2     -122.233           2720        8062
3     -122.393           1360        5000
4     -122.045           1800        7503
...        ...            ...         ...
21608 -122.346           1530        1509
21609 -122.362           1830        7200
21610 -122.299           1020        2007
21611 -122.069           1410        1287
21612 -122.299           1020        1357

[21613 rows x 21 columns]

### 6. Use describe to get the basic statistics of all the columns
 Note the highest and lowest price of the house in the dataset.

In [6]:
my_dataframe.describe(include='all')

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,21613,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,...,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
unique,NaN,372,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,20140623T000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,142,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,4.580302e+09,NaN,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,...,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,NaN,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,...,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,NaN,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,...,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,NaN,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,...,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,NaN,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,...,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,NaN,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,...,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,NaN,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,...,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

### 7. Use sort_values to get the top 20 houses by price

In [26]:
my_dataframe.sort_values(by=['price'], ascending=False).head(20) #7700000.0

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
7252,6762700020,20141013T000000,7700000.0,6,8.00,12050,27600,2.5,0,3,...,13,8570,3480,1910,1987,98102,47.6298,-122.323,3940,8800
3914,9808700762,20140611T000000,7062500.0,5,4.50,10040,37325,2.0,1,2,...,11,7680,2360,1940,2001,98004,47.6500,-122.214,3930,25449
9254,9208900037,20140919T000000,6885000.0,6,7.75,9890,31374,2.0,0,4,...,13,8860,1030,2001,0,98039,47.6305,-122.240,4540,42730
4411,2470100110,20140804T000000,5570000.0,5,5.75,9200,35069,2.0,0,0,...,13,6200,3000,2001,0,98039,47.6289,-122.233,3560,24345
1448,8907500070,20150413T000000,5350000.0,5,5.00,8000,23985,2.0,0,4,...,12,6720,1280,2009,0,98004,47.6232,-122.220,4600,21750
1315,7558700030,20150413T000000,5300000.0,6,6.00,7390,24829,2.0,1,4,...,12,5000,2390,1991,0,98040,47.5631,-122.210,4320,24619
1164,1247600105,20141020T000000,5110800.0,5,5.25,8010,45517,2.0,1,4,...,12,5990,2020,1999,0,98033,47.6767,-122.211,3430,26788
8092,1924059029,20140617T000000,4668000.0,5,6.75,9640,13068,1.0,1,4,...,12,4820,4820,1983,2009,98040,47.5570,-122.210,3270,10454
2626,7738500731,20140815T000000,4500000.0,5,5.50,6640,40014,2.0,1,4,...,12,6350,290,2004,0,98155,47.7493,-122.280,3030,23408
8638,3835500195,20140618T000000,4489000.0,4,3.00,6430,27517,2.0,0,0,...,12,6430,0,2001,0,98004,47.6208,-122.219,3720,14592
12370,6065300370,20150506T000000,4208000.0,5,6.00,7440,21540,2.0,0,0,...,12,5550,1890,2003,0,98006,47.5692,-122.189,4740,19329
4149,6447300265,20141014T000000,4000000.0,4,5.50,7080,16573,2.0,0,0,...,12,5760,1320,2008,0,98039,47.6151,-122.224,3140,15996
2085,8106100105,20141114T000000,3850000.0,4,4.25,5770,21300,2.0,1,4,...,11,5770,0,1980,0,98040,47.5850,-122.222,4620,22748
19017,2303900100,20140911T000000,3800000.0,3,4.25,5510,35000,2.0,0,4,...,13,4910,600,1997,0,98177,47.7296,-122.370,3430,45302
7035,853200010,20140701T000000,3800000.0,5,5.50,7050,42840,1.0,0,2,...,13,4320,2730,1978,0,98004,47.6229,-122.220,5070,20570
16302,7397300170,20140530T000000,3710000.0,4,3.50,5550,28078,2.0,0,2,...,12,3350,2200,2000,0,98039,47.6395,-122.234,2980,19602
6508,4217402115,20150421T000000,3650000.0,6,4.75,5480,19401,1.5,1,4,...,11,3910,1570,1936,0,98105,47.6515,-122.277,3510,15810
18482,4389201095,20150511T000000,3650000.0,5,3.75,5020,8694,2.0,0,1,...,12,3970,1050,2007,0,98004,47.6146,-122.213,4190,11275
15255,2425049063,20140911T000000,3640900.0,4,3.25,4830,22257,2.0,1,4,...,11,4830,0,1990,0,98039,47.6409,-122.241,3820,25582
19148,3625049042,20141011T000000,3635000.0,5,6.00,5490,19897,2.0,0,0,...,12,5490,0,2005,0,98039,47.6165,-122.236,2910,17600

### 8. Select all rows and columns (id, price, bedrooms, sqft_living) and display it below

In [39]:
my_dataframe_new = my_dataframe[["id","price","bedrooms", "sqft_living"]]
print(my_dataframe_new)

               id     price  bedrooms  sqft_living
0      7129300520  221900.0         3         1180
1      6414100192  538000.0         3         2570
2      5631500400  180000.0         2          770
3      2487200875  604000.0         4         1960
4      1954400510  510000.0         3         1680
...           ...       ...       ...          ...
21608   263000018  360000.0         3         1530
21609  6600060120  400000.0         4         2310
21610  1523300141  402101.0         2         1020
21611   291310100  400000.0         3         1600
21612  1523300157  325000.0         2         1020

[21613 rows x 4 columns]

### 9. Find the most expensive 10 houses with the highest number of sqft_living

In [43]:
my_dataframe.sort_values(by=['price','sqft_living'], ascending=False).head(10)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
7252,6762700020,20141013T000000,7700000.0,6,8.00,12050,27600,2.5,0,3,...,13,8570,3480,1910,1987,98102,47.6298,-122.323,3940,8800
3914,9808700762,20140611T000000,7062500.0,5,4.50,10040,37325,2.0,1,2,...,11,7680,2360,1940,2001,98004,47.6500,-122.214,3930,25449
9254,9208900037,20140919T000000,6885000.0,6,7.75,9890,31374,2.0,0,4,...,13,8860,1030,2001,0,98039,47.6305,-122.240,4540,42730
4411,2470100110,20140804T000000,5570000.0,5,5.75,9200,35069,2.0,0,0,...,13,6200,3000,2001,0,98039,47.6289,-122.233,3560,24345
1448,8907500070,20150413T000000,5350000.0,5,5.00,8000,23985,2.0,0,4,...,12,6720,1280,2009,0,98004,47.6232,-122.220,4600,21750
1315,7558700030,20150413T000000,5300000.0,6,6.00,7390,24829,2.0,1,4,...,12,5000,2390,1991,0,98040,47.5631,-122.210,4320,24619
1164,1247600105,20141020T000000,5110800.0,5,5.25,8010,45517,2.0,1,4,...,12,5990,2020,1999,0,98033,47.6767,-122.211,3430,26788
8092,1924059029,20140617T000000,4668000.0,5,6.75,9640,13068,1.0,1,4,...,12,4820,4820,1983,2009,98040,47.5570,-122.210,3270,10454
2626,7738500731,20140815T000000,4500000.0,5,5.50,6640,40014,2.0,1,4,...,12,6350,290,2004,0,98155,47.7493,-122.280,3030,23408
8638,3835500195,20140618T000000,4489000.0,4,3.00,6430,27517,2.0,0,0,...,12,6430,0,2001,0,98004,47.6208,-122.219,3720,14592

### 10. Find the average price for different number of bedrooms?

In [58]:
my_dataframe.groupby('bedrooms')['price'].agg(['mean'])

                  mean
bedrooms
0         4.095038e+05
1         3.176429e+05
2         4.013727e+05
3         4.662321e+05
4         6.354195e+05
5         7.865998e+05
6         8.255206e+05
7         9.511847e+05
8         1.105077e+06
9         8.939998e+05
10        8.193333e+05
11        5.200000e+05
33        6.400000e+05

### 11. Create a new column (sqft_price) in Pandas DataFrame based on the existing columns (price, sqft_lot). Calculate sqft_price with formula price/sqft_lot and fill result for each row.

In [45]:
my_dataframe['sqft_price'] = my_dataframe['price'] / my_dataframe['sqft_lot']
print(my_dataframe)

               id             date     price  bedrooms  bathrooms  \
0      7129300520  20141013T000000  221900.0         3       1.00
1      6414100192  20141209T000000  538000.0         3       2.25
2      5631500400  20150225T000000  180000.0         2       1.00
3      2487200875  20141209T000000  604000.0         4       3.00
4      1954400510  20150218T000000  510000.0         3       2.00
...           ...              ...       ...       ...        ...
21608   263000018  20140521T000000  360000.0         3       2.50
21609  6600060120  20150223T000000  400000.0         4       2.50
21610  1523300141  20140623T000000  402101.0         2       0.75
21611   291310100  20150116T000000  400000.0         3       2.50
21612  1523300157  20141015T000000  325000.0         2       0.75

       sqft_living  sqft_lot  floors  waterfront  view  ...  sqft_above  \
0             1180      5650     1.0           0     0  ...        1180
1             2570      7242     2.0           0     0  ...        2170
2              770     10000     1.0           0     0  ...         770
3             1960      5000     1.0           0     0  ...        1050
4             1680      8080     1.0           0     0  ...        1680
...            ...       ...     ...         ...   ...  ...         ...
21608         1530      1131     3.0           0     0  ...        1530
21609         2310      5813     2.0           0     0  ...        2310
21610         1020      1350     2.0           0     0  ...        1020
21611         1600      2388     2.0           0     0  ...        1600
21612         1020      1076     2.0           0     0  ...        1020

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
0                  0      1955             0    98178  47.5112 -122.257
1                400      1951          1991    98125  47.7210 -122.319
2                  0      1933             0    98028  47.7379 -122.233
3                910      1965             0    98136  47.5208 -122.393
4                  0      1987             0    98074  47.6168 -122.045
...              ...       ...           ...      ...      ...      ...
21608              0      2009             0    98103  47.6993 -122.346
21609              0      2014             0    98146  47.5107 -122.362
21610              0      2009             0    98144  47.5944 -122.299
21611              0      2004             0    98027  47.5345 -122.069
21612              0      2008             0    98144  47.5941 -122.299

       sqft_living15  sqft_lot15  sqft_price
0               1340        5650   39.274336
1               1690        7639   74.288870
2               2720        8062   18.000000
3               1360        5000  120.800000
4               1800        7503   63.118812
...              ...         ...         ...
21608           1530        1509  318.302387
21609           1830        7200   68.811285
21610           1020        2007  297.852593
21611           1410        1287  167.504188
21612           1020        1357  302.044610

[21613 rows x 22 columns]

### 12. Define average value for every sqft_living via price average and count

In [61]:
my_dataframe.groupby('sqft_living')['price'].agg(['count','mean']).sort_values(by=['sqft_living'], ascending=False).head(10)

             count       mean
sqft_living
13540            1  2280000.0
12050            1  7700000.0
10040            1  7062500.0
9890             1  6885000.0
9640             1  4668000.0
9200             1  5570000.0
8670             1  2888000.0
8020             1  3300000.0
8010             1  5110800.0
8000             1  5350000.0

### 13. Identify houses with a year of construction more than 2000, near the waterfront, with unique zip codes, never renovated and without a basement.

In [36]:
zipp = my_dataframe['zipcode'].unique()
my_dataframe.loc[(my_dataframe['yr_built'] > 2000)
 & (my_dataframe['waterfront'] == 1) 
 & (my_dataframe['zipcode'].isin(zipp)) 
 & (my_dataframe['yr_renovated'] == 0) 
 & (my_dataframe['sqft_basement'] !=0)]

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
300,3225069065,20140624T000000,3075000.0,4,5.00,4550,18641,1.0,1,4,...,10,2600,1950,2002,0,98074,47.6053,-122.077,4550,19508
2444,7524900003,20141210T000000,3278000.0,2,1.75,6840,10000,2.5,1,4,...,11,4350,2490,2001,0,98008,47.6042,-122.112,3120,12300
2626,7738500731,20140815T000000,4500000.0,5,5.50,6640,40014,2.0,1,4,...,12,6350,290,2004,0,98155,47.7493,-122.280,3030,23408
6233,2024069008,20140619T000000,2200000.0,5,4.75,5990,10450,2.0,1,4,...,11,4050,1940,2002,0,98027,47.5554,-122.077,3330,14810
7989,9362000040,20140623T000000,3400000.0,3,4.50,5230,17826,2.0,1,4,...,10,3740,1490,2005,0,98040,47.5348,-122.243,3670,17826
11402,3426049284,20140819T000000,2300000.0,4,3.25,4110,15929,2.0,1,4,...,12,2720,1390,2001,0,98115,47.6934,-122.271,2640,15929
15377,1568100920,20150408T000000,1950000.0,4,2.50,3440,14554,2.0,1,4,...,8,2170,1270,2012,0,98155,47.7364,-122.286,3170,11810
18455,8043700300,20140608T000000,2700000.0,4,3.25,4420,7850,2.0,1,4,...,11,3150,1270,2001,0,98008,47.5720,-122.102,2760,8525
20325,518500480,20140811T000000,3000000.0,3,3.50,4410,10756,2.0,1,4,...,11,3430,980,2014,0,98056,47.5283,-122.205,3550,5634
20767,8043700105,20150417T000000,2300000.0,4,4.00,4360,8175,2.5,1,4,...,10,3940,420,2007,0,98008,47.5724,-122.104,2670,8525
21201,518500460,20141008T000000,2230000.0,3,3.50,3760,5634,2.0,1,4,...,11,2830,930,2014,0,98056,47.5285,-122.205,3560,5762
21576,9253900271,20150107T000000,3567000.0,5,4.50,4850,10584,2.0,1,4,...,10,3540,1310,2007,0,98008,47.5943,-122.110,3470,18270

### 14. Define distance between two houses

In [91]:
from math import sin, cos, sqrt, atan2

dflat = pd.DataFrame(my_dataframe, columns= ['lat'])
dflong = pd.DataFrame(my_dataframe, columns= ['long'])

R = 6373.0

lat1 = dflat.iloc[0]
long1 = dflong.iloc[0]

lat2 = dflat.iloc[1]
long2 = dflong.iloc[1]

dlon = long2 - long1
dlat = lat2 - lat1

a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
c = 2 * atan2(sqrt(a), sqrt(1 - a))

distance = R * c
print("Distance:", distance)

Distance: 1381.352940182306

### 15. To find all renovated house in this DateFrame

In [93]:
my_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
 21  new_column     21613 non-null  float64
dtypes: float64(6), int64(15), object(1)
memory usage: 3.6+ MB

In [6]:
dataf1 = my_dataframe.date.str.split('T', expand = True)
my_dataframe['date'] = pd.to_datetime(dataf1[0], format = '%Y%m%d')

               id       date     price  bedrooms  bathrooms  sqft_living  \
0      7129300520 2014-10-13  221900.0         3       1.00         1180
1      6414100192 2014-12-09  538000.0         3       2.25         2570
2      5631500400 2015-02-25  180000.0         2       1.00          770
3      2487200875 2014-12-09  604000.0         4       3.00         1960
4      1954400510 2015-02-18  510000.0         3       2.00         1680
...           ...        ...       ...       ...        ...          ...
21608   263000018 2014-05-21  360000.0         3       2.50         1530
21609  6600060120 2015-02-23  400000.0         4       2.50         2310
21610  1523300141 2014-06-23  402101.0         2       0.75         1020
21611   291310100 2015-01-16  400000.0         3       2.50         1600
21612  1523300157 2014-10-15  325000.0         2       0.75         1020

       sqft_lot  floors  waterfront  view  ...  grade  sqft_above  \
0          5650     1.0           0     0  ...      7        1180
1          7242     2.0           0     0  ...      7        2170
2         10000     1.0           0     0  ...      6         770
3          5000     1.0           0     0  ...      7        1050
4          8080     1.0           0     0  ...      8        1680
...         ...     ...         ...   ...  ...    ...         ...
21608      1131     3.0           0     0  ...      8        1530
21609      5813     2.0           0     0  ...      8        2310
21610      1350     2.0           0     0  ...      7        1020
21611      2388     2.0           0     0  ...      8        1600
21612      1076     2.0           0     0  ...      7        1020

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
0                  0      1955             0    98178  47.5112 -122.257
1                400      1951          1991    98125  47.7210 -122.319
2                  0      1933             0    98028  47.7379 -122.233
3                910      1965             0    98136  47.5208 -122.393
4                  0      1987             0    98074  47.6168 -122.045
...              ...       ...           ...      ...      ...      ...
21608              0      2009             0    98103  47.6993 -122.346
21609              0      2014             0    98146  47.5107 -122.362
21610              0      2009             0    98144  47.5944 -122.299
21611              0      2004             0    98027  47.5345 -122.069
21612              0      2008             0    98144  47.5941 -122.299

       sqft_living15  sqft_lot15
0               1340        5650
1               1690        7639
2               2720        8062
3               1360        5000
4               1800        7503
...              ...         ...
21608           1530        1509
21609           1830        7200
21610           1020        2007
21611           1410        1287
21612           1020        1357

[21613 rows x 21 columns]

In [8]:
print (my_dataframe['date'])

0       2014-10-13
1       2014-12-09
2       2015-02-25
3       2014-12-09
4       2015-02-18
           ...
21608   2014-05-21
21609   2015-02-23
21610   2014-06-23
21611   2015-01-16
21612   2014-10-15
Name: date, Length: 21613, dtype: datetime64[ns]

0        000000
1        000000
2        000000
3        000000
4        000000
          ...
21608    000000
21609    000000
21610    000000
21611    000000
21612    000000
Name: 1, Length: 21613, dtype: object